<h1>Burgers</h1>


<h2>Add a Burger</h2>
<form class="create-update-form">
    
    <div class="form-group">
        <label for="burgName">Burger Name:</label>
        <input type="text", id="burgName" name="burgerName">
    </div>
    <button type="submit">Add a New Burger</button>

</form>

<div id="newBurgers">
    <h2>Undevoured Burgers</h2>

    <ul>
        {{#each burger}}
            {{#unless this.devoured}}
                {{this.burger_name}}

                <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="true">
                    <button type="submit">Devour</button>
                </form>
            {{/unless}}
        {{/each}}
    </ul>

</div>

<div id="eatenBurgers">
    <h2>Devoured Burgers</h2>

    <ul>
        {{#each}}
            {{#if this.devoured}}
                {{this.burger_name}}

                <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="false">
                    <button type="submit">Uneat da Burger</button>
                </form>
            {{/if}}
        {{/each}}
    </ul>
</div>